<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pozo.bkkinfo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.github.pozo.bkkinfo.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.github.pozo.bkkinfo.receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="NotificationReceiver" >
            <intent-filter>
                <action android:name="com.github.pozo.bkkinfo.NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.github.pozo.bkkinfo.receivers.NetworkStateReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.github.pozo.bkkinfo.NETWORKSTATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.github.pozo.bkkinfo.activities.WebActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.pozo.bkkinfo.activities.BasicPreferenceActivity"
            android:label="@string/title_activity_notification_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.github.pozo.bkkinfo.activities.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.github.pozo.bkkinfo.services.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
            <intent-filter>
                <action android:name="com.github.pozo.bkkinfo.CHECK_NOTIFICATIONS" />
            </intent-filter>
        </service>
    </application>

</manifest>